In [ ]:
import pandas as pd  # Importamos la librería pandas

In [ ]:
# 1. Crear un DataFrame desde un diccionario
data = {
    'Nombre': ['Ana', 'Juan', 'Luis', 'María'],
    'Edad': [23, 30, 25, 27],
    'Ciudad': ['La Paz', 'Cochabamba', 'Santa Cruz', 'Tarija']
}

In [ ]:
df = pd.DataFrame(data)  # Convertimos el diccionario en un DataFrame
print("1. DataFrame creado desde un diccionario:\n", df)

1. DataFrame creado desde un diccionario:
   Nombre  Edad      Ciudad
0    Ana    23      La Paz
1   Juan    30  Cochabamba
2   Luis    25  Santa Cruz
3  María    27      Tarija

In [ ]:
# 2. Seleccionar una columna del DataFrame
edades = df['Edad']  # Extraemos solo la columna "Edad"
print("\n2. Columna 'Edad':\n", edades)

2. Columna 'Edad':
 0    23
1    30
2    25
3    27
Name: Edad, dtype: int64

In [ ]:
# 3. Filtrar filas donde la edad sea mayor a 25
df_filtrado = df[df['Edad'] > 25]
print("\n3. Filtrar filas con edad mayor a 25:\n", df_filtrado)

3. Filtrar filas con edad mayor a 25:
   Nombre  Edad      Ciudad
1   Juan    30  Cochabamba
3  María    27      Tarija

In [ ]:
# 4. Agregar una nueva columna
df['Altura'] = [1.65, 1.78, 1.72, 1.60]  # Agregamos una nueva columna de altura
print("\n4. DataFrame con nueva columna 'Altura':\n", df)

4. DataFrame con nueva columna 'Altura':
   Nombre  Edad      Ciudad  Altura
0    Ana    23      La Paz    1.65
1   Juan    30  Cochabamba    1.78
2   Luis    25  Santa Cruz    1.72
3  María    27      Tarija    1.60

In [ ]:
# 5. Calcular estadísticas básicas
estadisticas = df.describe()  # Obtiene estadísticas como media, min, max, etc.
print("\n5. Estadísticas del DataFrame:\n", estadisticas)

5. Estadísticas del DataFrame:
             Edad    Altura
count   4.000000  4.000000
mean   26.250000  1.687500
std     2.986079  0.078899
min    23.000000  1.600000
25%    24.500000  1.637500
50%    26.000000  1.685000
75%    27.750000  1.735000
max    30.000000  1.780000