In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [2]:
# -----------------------------
# 1. CARGAR LOS DATOS DESDE CSV
# -----------------------------
# Definimos la ruta del archivo CSV que contiene nuestros datos
csv_path = 'datos_ejemplo.csv'  # Esta variable almacena la ubicaci√≥n del archivo para facilitar su modificaci√≥n posterior
# Leemos el archivo CSV y lo cargamos en un DataFrame de pandas, que es una estructura de datos tabular para manipulaci√≥n eficiente
df = pd.read_csv(csv_path)

In [3]:
# Mostramos las primeras 5 filas del DataFrame para verificar que los datos se cargaron correctamente
print("üîπ Datos Cargados desde CSV:\n", df.head())

üîπ Datos Cargados desde CSV:
    ID  Nombre  Edad      Ciudad  Salario Genero
0   1     Ana  23.0      La Paz   5000.0      F
1   2    Luis   NaN  Cochabamba   5500.0      M
2   3   Pedro  30.0  Santa Cruz      NaN      M
3   4   Maria  28.0      Tarija   6000.0      F
4   5  Carlos  35.0      Potosi   7000.0      M

In [4]:
# -----------------------------
# 2. LIMPIEZA DE DATOS FALTANTES
# -----------------------------

# Verificamos la cantidad de valores nulos en cada columna para identificar problemas de datos faltantes
print("\nüîπ Valores Nulos por Columna:\n", df.isnull().sum())

üîπ Valores Nulos por Columna:
 ID         0
Nombre     1
Edad       2
Ciudad     1
Salario    2
Genero     1
dtype: int64

In [5]:
# Identificamos todas las columnas num√©ricas del DataFrame para tratarlas adecuadamente
# select_dtypes filtra columnas por tipo de dato, y np.number selecciona tipos num√©ricos (int, float, etc.)
numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()

In [6]:
# Para cada columna num√©rica, reemplazamos los valores nulos con la media de esa columna
# Esta es una estrategia com√∫n para mantener la distribuci√≥n estad√≠stica central de los datos
for col in numerical_cols:
    df[col].fillna(df[col].mean(), inplace=True)  # inplace=True modifica el DataFrame original sin crear una copia

<ipython-input-6-25dbc24f5638>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)  # inplace=True modifica el DataFrame original sin crear una copia

In [7]:
# Identificamos todas las columnas categ√≥ricas (de tipo objeto/texto) para tratarlas adecuadamente
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

In [8]:
# Para cada columna categ√≥rica, reemplazamos los valores nulos con la moda (valor m√°s frecuente)
# Esta estrategia mantiene la distribuci√≥n de categor√≠as y usa el valor m√°s probable
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)  # mode() devuelve una Serie, por lo que accedemos al primer valor con [0]

<ipython-input-8-ab1297385f51>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)  # mode() devuelve una Serie, por lo que accedemos al primer valor con [0]

In [9]:
# Mostramos las primeras filas despu√©s de limpiar los valores nulos para verificar los cambios
print("\n‚úÖ Datos despu√©s de manejar valores nulos:\n", df.head())

‚úÖ Datos despu√©s de manejar valores nulos:
    ID  Nombre  Edad      Ciudad  Salario Genero
0   1     Ana  23.0      La Paz   5000.0      F
1   2    Luis  30.0  Cochabamba   5500.0      M
2   3   Pedro  30.0  Santa Cruz   6362.5      M
3   4   Maria  28.0      Tarija   6000.0      F
4   5  Carlos  35.0      Potosi   7000.0      M

In [10]:
# -----------------------------
# 3. CATEGORIZACI√ìN DE VARIABLES
# -----------------------------

# Convertimos las variables categ√≥ricas a num√©ricas usando LabelEncoder
# Esto es necesario porque muchos algoritmos de machine learning solo aceptan entradas num√©ricas
le = LabelEncoder()  # Creamos una instancia del codificador de etiquetas

In [11]:
for col in categorical_cols:
    # Transformamos cada valor categ√≥rico a un n√∫mero entero √∫nico
    # Cada categor√≠a √∫nica recibe un n√∫mero entero (0, 1, 2, etc.)
    df[col] = le.fit_transform(df[col])

In [12]:
# Mostramos el DataFrame despu√©s de la categorizaci√≥n para verificar la transformaci√≥n
print("\n‚úÖ Datos despu√©s de la categorizaci√≥n:\n", df.head())

‚úÖ Datos despu√©s de la categorizaci√≥n:
    ID  Nombre  Edad  Ciudad  Salario  Genero
0   1       0  23.0       1   5000.0       0
1   2       5  30.0       0   5500.0       1
2   3       7  30.0       4   6362.5       1
3   4       6  28.0       6   6000.0       0
4   5       2  35.0       3   7000.0       1

In [13]:
# -----------------------------
# 4. ESTANDARIZACI√ìN Y ESCALAMIENTO
# -----------------------------

# --- 4.1 Estandarizaci√≥n (Z-Score Scaling) ---
# La estandarizaci√≥n transforma los datos para que tengan media=0 y desviaci√≥n est√°ndar=1
# Es √∫til para algoritmos sensibles a la escala de los datos como regresi√≥n o SVM
scaler_standard = StandardScaler()  # Creamos una instancia del estandarizador
df_standardized = df.copy()  # Creamos una copia del DataFrame para no alterar el original
# Aplicamos la estandarizaci√≥n solo a las columnas num√©ricas
df_standardized[numerical_cols] = scaler_standard.fit_transform(df_standardized[numerical_cols])

In [14]:
# Mostramos los datos estandarizados para verificar la transformaci√≥n
print("\n‚úÖ Datos Estandarizados (Z-Score):\n", df_standardized.head())

‚úÖ Datos Estandarizados (Z-Score):
          ID  Nombre      Edad  Ciudad   Salario  Genero
0 -1.566699       0 -1.506160       1 -1.893320       0
1 -1.218544       5  0.000000       0 -1.198524       1
2 -0.870388       7  0.000000       4  0.000000       1
3 -0.522233       6 -0.430331       6 -0.503727       0
4 -0.174078       2  1.075829       3  0.885865       1

In [15]:
# --- 4.2 Escalamiento (Min-Max Scaling) ---
# El escalamiento Min-Max transforma los datos al rango [0,1]
# Es √∫til para algoritmos que requieren entradas positivas o acotadas como redes neuronales
scaler_minmax = MinMaxScaler()  # Creamos una instancia del escalador Min-Max
df_minmax_scaled = df.copy()  # Creamos otra copia del DataFrame original
# Aplicamos el escalamiento solo a las columnas num√©ricas
df_minmax_scaled[numerical_cols] = scaler_minmax.fit_transform(df_minmax_scaled[numerical_cols])

In [16]:
# Mostramos los datos escalados para verificar la transformaci√≥n
print("\n‚úÖ Datos Escalados (Min-Max):\n", df_minmax_scaled.head())

‚úÖ Datos Escalados (Min-Max):
          ID  Nombre      Edad  Ciudad  Salario  Genero
0  0.000000       0  0.000000       1    0.000       0
1  0.111111       5  0.411765       0    0.200       1
2  0.222222       7  0.411765       4    0.545       1
3  0.333333       6  0.294118       6    0.400       0
4  0.444444       2  0.705882       3    0.800       1

In [17]:
# -----------------------------
# 5. GUARDAR RESULTADOS
# -----------------------------

# Guardamos cada versi√≥n procesada de los datos en archivos CSV separados
# Esto permite utilizar la versi√≥n m√°s adecuada seg√∫n el an√°lisis posterior
df.to_csv('datos_limpios.csv', index=False)  # Datos con valores nulos corregidos y variables categ√≥ricas codificadas
df_standardized.to_csv('datos_estandarizados.csv', index=False)  # Datos con estandarizaci√≥n Z-Score
df_minmax_scaled.to_csv('datos_escalados_minmax.csv', index=False)  # Datos con escalamiento Min-Max

In [18]:
# Informamos al usuario sobre los archivos generados para facilitar su localizaci√≥n
print("\n‚úÖ Archivos generados:")
print(" - datos_limpios.csv")
print(" - datos_estandarizados.csv")
print(" - datos_escalados_minmax.csv")

‚úÖ Archivos generados:
 - datos_limpios.csv
 - datos_estandarizados.csv
 - datos_escalados_minmax.csv