In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# === EJEMPLO 1: CREACIÓN DE SERIES ===
# Una Series es una estructura unidimensional similar a un array o lista
# pero con índices personalizados

# Crear una Series desde una lista
numeros = pd.Series([1, 2, 3, 4, 5])
print("Series básica:")
print(numeros)
print("\nTipo de datos:", numeros.dtype)  # dtype muestra el tipo de datos

Series básica:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Tipo de datos: int64

In [ ]:
# Crear una Series con índices personalizados
dias = pd.Series([25, 30, 15, 40],
                 index=['Lunes', 'Martes', 'Miércoles', 'Jueves'])
print("\nSeries con índices personalizados:")
print(dias)

Series con índices personalizados:
Lunes        25
Martes       30
Miércoles    15
Jueves       40
dtype: int64

In [ ]:
# === EJEMPLO 2: OPERACIONES CON SERIES ===
# Las Series permiten operaciones matemáticas directas
print("\nMultiplicar todos los valores por 2:")
print(dias * 2)

Multiplicar todos los valores por 2:
Lunes        50
Martes       60
Miércoles    30
Jueves       80
dtype: int64

In [ ]:
# Acceder a valores individuales
print("\nValor del Lunes:", dias['Lunes'])

Valor del Lunes: 25

In [ ]:
# Filtrar valores
print("\nDías con más de 25 unidades:")
print(dias[dias > 25])

Días con más de 25 unidades:
Martes    30
Jueves    40
dtype: int64

In [ ]:
# === EJEMPLO 3: SERIES CON DIFERENTES TIPOS DE DATOS ===
# Las Series pueden contener diferentes tipos de datos
mixta = pd.Series(['Python', 42, 3.14, True],
                  index=['lenguaje', 'número', 'pi', 'booleano'])

In [ ]:
print("\nSeries con diferentes tipos de datos:")
print(mixta)

Series con diferentes tipos de datos:
lenguaje    Python
número          42
pi            3.14
booleano      True
dtype: object

In [ ]:
print("\nTipos de datos de cada elemento:")
print(mixta.dtypes)

Tipos de datos de cada elemento:
object